In [64]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("aiddata-countries-only - aiddata-countries-only.csv")
df.head()

,Unnamed: 0,aiddata_id,aiddata_2_id,year,donor,recipient,commitment_amount_usd_constant,coalesced_purpose_code,coalesced_purpose_name
0,1,2414478.0,NaN,1977,Saudi Arabia,India,348718518.0,23030,Power generation/renewable sources
1,2,2414509.0,NaN,1977,Saudi Arabia,Brazil,191647004.0,23040,Electrical transmission/ distribution
2,3,2414635.0,NaN,1983,Saudi Arabia,India,79371799.0,21030,Rail transport
3,4,2414665.0,NaN,1984,Saudi Arabia,Taiwan,212202942.0,21030,Rail transport
4,5,2414667.0,NaN,1984,Saudi Arabia,Korea,134511154.0,21040,Water transport

In [3]:
df=df[["coalesced_purpose_name","commitment_amount_usd_constant"]]
df.head()

                  coalesced_purpose_name  commitment_amount_usd_constant
0     Power generation/renewable sources                     348718518.0
1  Electrical transmission/ distribution                     191647004.0
2                         Rail transport                      79371799.0
3                         Rail transport                     212202942.0
4                        Water transport                     134511154.0

In [4]:
df2=df.groupby("coalesced_purpose_name").sum()
df2=df2[df2.index!='Sectors not specified']
df2=df2.nlargest(10, 'commitment_amount_usd_constant')
df2

                                           commitment_amount_usd_constant
coalesced_purpose_name
Air transport                                                3.981248e+10
Rail transport                                               2.049887e+10
Industrial development                                       1.973854e+10
Power generation/non-renewable sources                       1.512861e+10
RESCHEDULING AND REFINANCING                                 1.479750e+10
Import support (capital goods)                               9.964352e+09
Social/ welfare services                                     9.206729e+09
Telecommunications                                           8.625393e+09
Power generation/renewable sources                           8.618715e+09
Mineral/Metal prospection and exploration                    8.218806e+09

In [9]:
purposes=list(df2.index)
sorted(purposes)

['Air transport',
 'Import support (capital goods)',
 'Industrial development',
 'Mineral/Metal prospection and exploration',
 'Power generation/non-renewable sources',
 'Power generation/renewable sources',
 'RESCHEDULING AND REFINANCING',
 'Rail transport',
 'Social/ welfare services',
 'Telecommunications']

In [7]:
df=pd.read_csv("aiddata-countries-only - aiddata-countries-only.csv")
df12=df[df.coalesced_purpose_name.isin(purposes)]
df6=df12[["year","coalesced_purpose_name","commitment_amount_usd_constant"]]
df6.head()

    year              coalesced_purpose_name  commitment_amount_usd_constant
0   1977  Power generation/renewable sources                     348718518.0
2   1983                      Rail transport                      79371799.0
3   1984                      Rail transport                     212202942.0
11  1976  Power generation/renewable sources                     193588873.0
19  1986  Power generation/renewable sources                      53561256.0

In [8]:
df6['COUNTER'] =1
group_data = df6.groupby(["year","coalesced_purpose_name"])['commitment_amount_usd_constant'].sum() #sum function
df7=pd.DataFrame(group_data)
df7

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                                                commitment_amount_usd_constant
year coalesced_purpose_name
1973 Import support (capital goods)                               2.918863e+08
     Industrial development                                       2.007764e+08
     Power generation/non-renewable sources                       2.782567e+07
     Rail transport                                               9.579263e+07
     Telecommunications                                           2.051220e+08
1974 Air transport                                                1.525672e+07
     Import support (capital goods)                               2.271941e+08
     Industrial development                                       1.539951e+08
     Mineral/Metal prospection and exploration                    5.135311e+06
     Power generation/non-renewable sources                       3.988053e+07
     Power generation/renewable sources                           1.248614e+08
     Rail transport                                               4.256376e+07
     Telecommunications                                           1.804753e+08
1975 Air transport                                                1.582943e+07
     Import support (capital goods)                               2.826322e+08
     Industrial development                                       1.412569e+08
     Mineral/Metal prospection and exploration                    1.184111e+07
     Power generation/non-renewable sources                       3.316643e+07
     Rail transport                                               6.008068e+07
     Telecommunications                                           3.316643e+07
1976 Import support (capital goods)                               1.545160e+08
     Industrial development                                       1.807296e+08
     Mineral/Metal prospection and exploration                    4.699400e+04
     Power generation/renewable sources                           2.585004e+08
     Rail transport                                               6.585999e+07
     Social/ welfare services                                     2.219382e+07
     Telecommunications                                           1.012682e+08
1977 Air transport                                                7.046280e+05
     Import support (capital goods)                               2.535563e+08
     Industrial development                                       3.525237e+08
...                                                                        ...
2010 Industrial development                                       7.845641e+07
     Power generation/non-renewable sources                       1.612781e+06
     Power generation/renewable sources                           1.784257e+08
     Rail transport                                               2.769999e+09
     Social/ welfare services                                     2.606032e+08
     Telecommunications                                           2.603981e+06
2011 Air transport                                                4.105579e+06
     Industrial development                                       1.518822e+07
     Mineral/Metal prospection and exploration                    1.217712e+06
     Power generation/non-renewable sources                       2.009480e+05
     Power generation/renewable sources                           1.036425e+09
     Rail transport                                               4.367780e+08
     Social/ welfare services                                     1.280449e+08
     Telecommunications                                           7.745790e+05
2012 Air transport                                                4.397101e+06
     Industrial development                                       2.569208e+06
     Mineral/Metal prospection and exploration                    5.455700e+05
     Power generation/non-renewable sources                       4.967204e+07
     Power generation/renewable sources                           3.897115e+08
     Rail transport                                               1.619977e+09
     Social/ welfare services                                     7.021300e+07
     Telecommunications                                           1.611860e+06
2013 Air transport                                                5.627464e+06
     Industrial development                                       4.937413e+06
     Mineral/Metal prospection and exploration                    2.839501e+06
     Power generation/non-renewable sources                       2.508385e+08
     Power generation/renewable sources                           3.362385e+08
     Rail transport                                               2.251372e+09
     Social/ welfare services                                     7.805330e+07
     Telecommunications                                           5.520572e+06

[335 rows x 1 columns]

In [9]:
df7=df7.reset_index()
df7=df7.set_index('year')
df7

,coalesced_purpose_name,commitment_amount_usd_constant
year,,
1973,Import support (capital goods),2.918863e+08
1973,Industrial development,2.007764e+08
1973,Power generation/non-renewable sources,2.782567e+07
1973,Rail transport,9.579263e+07
1973,Telecommunications,2.051220e+08
1974,Air transport,1.525672e+07
1974,Import support (capital goods),2.271941e+08
1974,Industrial development,1.539951e+08
1974,Mineral/Metal prospection and exploration,5.135311e+06
1974,Power generation/non-renewable sources,3.988053e+07
1974,Power generation/renewable sources,1.248614e+08
1974,Rail transport,4.256376e+07
1974,Telecommunications,1.804753e+08
1975,Air transport,1.582943e+07
1975,Import support (capital goods),2.826322e+08
1975,Industrial development,1.412569e+08
1975,Mineral/Metal prospection and exploration,1.184111e+07
1975,Power generation/non-renewable sources,3.316643e+07
1975,Rail transport,6.008068e+07
1975,Telecommunications,3.316643e+07
1976,Import support (capital goods),1.545160e+08
1976,Industrial development,1.807296e+08
1976,Mineral/Metal prospection and exploration,4.699400e+04
1976,Power generation/renewable sources,2.585004e+08
1976,Rail transport,6.585999e+07
1976,Social/ welfare services,2.219382e+07
1976,Telecommunications,1.012682e+08
1977,Air transport,7.046280e+05
1977,Import support (capital goods),2.535563e+08
1977,Industrial development,3.525237e+08
...,...,...
2010,Industrial development,7.845641e+07
2010,Power generation/non-renewable sources,1.612781e+06
2010,Power generation/renewable sources,1.784257e+08
2010,Rail transport,2.769999e+09
2010,Social/ welfare services,2.606032e+08
2010,Telecommunications,2.603981e+06
2011,Air transport,4.105579e+06
2011,Industrial development,1.518822e+07
2011,Mineral/Metal prospection and exploration,1.217712e+06
2011,Power generation/non-renewable sources,2.009480e+05
2011,Power generation/renewable sources,1.036425e+09
2011,Rail transport,4.367780e+08
2011,Social/ welfare services,1.280449e+08
2011,Telecommunications,7.745790e+05
2012,Air transport,4.397101e+06
2012,Industrial development,2.569208e+06
2012,Mineral/Metal prospection and exploration,5.455700e+05
2012,Power generation/non-renewable sources,4.967204e+07
2012,Power generation/renewable sources,3.897115e+08
2012,Rail transport,1.619977e+09
2012,Social/ welfare services,7.021300e+07
2012,Telecommunications,1.611860e+06
2013,Air transport,5.627464e+06
2013,Industrial development,4.937413e+06
2013,Mineral/Metal prospection and exploration,2.839501e+06
2013,Power generation/non-renewable sources,2.508385e+08
2013,Power generation/renewable sources,3.362385e+08
2013,Rail transport,2.251372e+09
2013,Social/ welfare services,7.805330e+07
2013,Telecommunications,5.520572e+06

In [10]:
#df7.commitment_amount_usd_constant=np.log2(df7.commitment_amount_usd_constant)
#df7.to_csv("data2.csv")

In [11]:
df7

,coalesced_purpose_name,commitment_amount_usd_constant
year,,
1973,Import support (capital goods),2.918863e+08
1973,Industrial development,2.007764e+08
1973,Power generation/non-renewable sources,2.782567e+07
1973,Rail transport,9.579263e+07
1973,Telecommunications,2.051220e+08
1974,Air transport,1.525672e+07
1974,Import support (capital goods),2.271941e+08
1974,Industrial development,1.539951e+08
1974,Mineral/Metal prospection and exploration,5.135311e+06
1974,Power generation/non-renewable sources,3.988053e+07
1974,Power generation/renewable sources,1.248614e+08
1974,Rail transport,4.256376e+07
1974,Telecommunications,1.804753e+08
1975,Air transport,1.582943e+07
1975,Import support (capital goods),2.826322e+08
1975,Industrial development,1.412569e+08
1975,Mineral/Metal prospection and exploration,1.184111e+07
1975,Power generation/non-renewable sources,3.316643e+07
1975,Rail transport,6.008068e+07
1975,Telecommunications,3.316643e+07
1976,Import support (capital goods),1.545160e+08
1976,Industrial development,1.807296e+08
1976,Mineral/Metal prospection and exploration,4.699400e+04
1976,Power generation/renewable sources,2.585004e+08
1976,Rail transport,6.585999e+07
1976,Social/ welfare services,2.219382e+07
1976,Telecommunications,1.012682e+08
1977,Air transport,7.046280e+05
1977,Import support (capital goods),2.535563e+08
1977,Industrial development,3.525237e+08
...,...,...
2010,Industrial development,7.845641e+07
2010,Power generation/non-renewable sources,1.612781e+06
2010,Power generation/renewable sources,1.784257e+08
2010,Rail transport,2.769999e+09
2010,Social/ welfare services,2.606032e+08
2010,Telecommunications,2.603981e+06
2011,Air transport,4.105579e+06
2011,Industrial development,1.518822e+07
2011,Mineral/Metal prospection and exploration,1.217712e+06
2011,Power generation/non-renewable sources,2.009480e+05
2011,Power generation/renewable sources,1.036425e+09
2011,Rail transport,4.367780e+08
2011,Social/ welfare services,1.280449e+08
2011,Telecommunications,7.745790e+05
2012,Air transport,4.397101e+06
2012,Industrial development,2.569208e+06
2012,Mineral/Metal prospection and exploration,5.455700e+05
2012,Power generation/non-renewable sources,4.967204e+07
2012,Power generation/renewable sources,3.897115e+08
2012,Rail transport,1.619977e+09
2012,Social/ welfare services,7.021300e+07
2012,Telecommunications,1.611860e+06
2013,Air transport,5.627464e+06
2013,Industrial development,4.937413e+06
2013,Mineral/Metal prospection and exploration,2.839501e+06
2013,Power generation/non-renewable sources,2.508385e+08
2013,Power generation/renewable sources,3.362385e+08
2013,Rail transport,2.251372e+09
2013,Social/ welfare services,7.805330e+07
2013,Telecommunications,5.520572e+06

In [12]:
np.max(df7.commitment_amount_usd_constant)

8344866729.0

In [13]:
np.min(df7.commitment_amount_usd_constant)

1896.0

---------------------------------------------------

In [60]:
df=pd.read_csv("aiddata-countries-only - aiddata-countries-only.csv")
df.head()

,Unnamed: 0,aiddata_id,aiddata_2_id,year,donor,recipient,commitment_amount_usd_constant,coalesced_purpose_code,coalesced_purpose_name
0,1,2414478.0,NaN,1977,Saudi Arabia,India,348718518.0,23030,Power generation/renewable sources
1,2,2414509.0,NaN,1977,Saudi Arabia,Brazil,191647004.0,23040,Electrical transmission/ distribution
2,3,2414635.0,NaN,1983,Saudi Arabia,India,79371799.0,21030,Rail transport
3,4,2414665.0,NaN,1984,Saudi Arabia,Taiwan,212202942.0,21030,Rail transport
4,5,2414667.0,NaN,1984,Saudi Arabia,Korea,134511154.0,21040,Water transport

In [68]:
df_recieved=df[['year','recipient','commitment_amount_usd_constant']]
df_recieved=df_recieved.groupby(['year','recipient']).sum()
df_recieved=df_recieved.reset_index()
df_recieved=df_recieved.rename(columns={'recipient':'country','commitment_amount_usd_constant':'recieved'})
df_recieved=df_recieved.set_index('year')
df_recieved.head()
#df_recieved.to_csv("recieved.csv")

       country      recieved
year
1973    Brazil  3.120750e+08
1973     Chile  8.805608e+07
1973  Colombia  5.499448e+08
1973    Cyprus  9.613414e+06
1973     India  2.285257e+09

In [67]:
df_donated=df[['year','donor','commitment_amount_usd_constant']]
df_donated=df_donated.groupby(['year','donor']).sum()
df_donated=df_donated.reset_index()
df_donated=df_donated.rename(columns={'donor':'country','commitment_amount_usd_constant':'donated'})
df_donated=df_donated.set_index('year')
df_donated.head()
#df_donated.to_csv("donated.csv")

        country      donated
year
1973  Australia   46285863.0
1973    Belgium   39251336.0
1973     Canada  437928427.0
1973     France  247189555.0
1973    Germany  562232384.0

In [120]:
import pandas as pd
data = pd.read_csv('test.csv',encoding="utf-16", sep='\t')
data.head()

,Number of Records,country_recieved,country,donated,recieved,year_recieved,year
0,1,NaN,Australia,46285863.0,NaN,NaN,1973.0
1,1,NaN,Belgium,39251336.0,NaN,NaN,1973.0
2,1,NaN,Canada,437928427.0,NaN,NaN,1973.0
3,1,NaN,France,247189555.0,NaN,NaN,1973.0
4,1,NaN,Germany,562232384.0,NaN,NaN,1973.0

In [ ]:
data['country']=data['country'].fillna(data['country_recieved'])
data['year']=data['year'].fillna(data['year_recieved'])
d2=data[['country','donated','recieved','year']]

In [102]:
d2['donated']=d2['donated'].fillna(0)
d2['recieved']=d2['recieved'].fillna(0)
d2['don_rec']=d2['donated']-d2['recieved']
d2

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                   country       donated      recieved    year       don_rec
0                Australia  4.628586e+07  0.000000e+00  1973.0  4.628586e+07
1                  Belgium  3.925134e+07  0.000000e+00  1973.0  3.925134e+07
2                   Canada  4.379284e+08  0.000000e+00  1973.0  4.379284e+08
3                   France  2.471896e+08  0.000000e+00  1973.0  2.471896e+08
4                  Germany  5.622324e+08  0.000000e+00  1973.0  5.622324e+08
5                    Italy  1.667191e+08  0.000000e+00  1973.0  1.667191e+08
6                    Japan  9.389659e+08  0.000000e+00  1973.0  9.389659e+08
7              Netherlands  1.627509e+08  0.000000e+00  1973.0  1.627509e+08
8                   Norway  3.587485e+07  0.000000e+00  1973.0  3.587485e+07
9                   Sweden  1.683693e+08  0.000000e+00  1973.0  1.683693e+08
10             Switzerland  1.406094e+07  0.000000e+00  1973.0  1.406094e+07
11          United Kingdom  4.425792e+08  0.000000e+00  1973.0  4.425792e+08
12           United States  1.553264e+09  0.000000e+00  1973.0  1.553264e+09
13               Australia  2.695088e+07  0.000000e+00  1974.0  2.695088e+07
14                 Austria  2.412633e+07  0.000000e+00  1974.0  2.412633e+07
15                 Belgium  4.358860e+07  0.000000e+00  1974.0  4.358860e+07
16                  Canada  6.850216e+07  0.000000e+00  1974.0  6.850216e+07
17                 Denmark  5.683929e+07  0.000000e+00  1974.0  5.683929e+07
18                  France  3.673847e+08  0.000000e+00  1974.0  3.673847e+08
19                 Germany  6.981681e+08  0.000000e+00  1974.0  6.981681e+08
20                   Japan  2.730202e+09  0.000000e+00  1974.0  2.730202e+09
21             Netherlands  3.234684e+08  0.000000e+00  1974.0  3.234684e+08
22                  Norway  9.488752e+07  0.000000e+00  1974.0  9.488752e+07
23                  Sweden  3.029933e+07  0.000000e+00  1974.0  3.029933e+07
24             Switzerland  6.454953e+07  0.000000e+00  1974.0  6.454953e+07
25          United Kingdom  1.405379e+09  0.000000e+00  1974.0  1.405379e+09
26           United States  8.710922e+08  0.000000e+00  1974.0  8.710922e+08
27               Australia  7.769178e+07  0.000000e+00  1975.0  7.769178e+07
28                 Belgium  3.886331e+07  0.000000e+00  1975.0  3.886331e+07
29                  Canada  9.302768e+07  0.000000e+00  1975.0  9.302768e+07
...                    ...           ...           ...     ...           ...
1345               Estonia  0.000000e+00  3.833784e+07  1993.0 -3.833784e+07
1346          Saudi Arabia  0.000000e+00  4.243178e+07  1988.0 -4.243178e+07
1347                Poland  0.000000e+00  2.608740e+09  1989.0 -2.608740e+09
1348              Colombia  0.000000e+00  5.868666e+08  1995.0 -5.868666e+08
1349                Taiwan  0.000000e+00  3.128870e+08  1981.0 -3.128870e+08
1350               Ireland  0.000000e+00  1.748128e+08  1999.0 -1.748128e+08
1351              Slovenia  0.000000e+00  2.609520e+06  1993.0 -2.609520e+06
1352  United Arab Emirates  0.000000e+00  2.140111e+06  2001.0 -2.140111e+06
1353              Slovenia  0.000000e+00  1.283154e+07  1999.0 -1.283154e+07
1354                 Qatar  0.000000e+00  1.252342e+06  1994.0 -1.252342e+06
1355                Poland  0.000000e+00  4.795065e+08  2002.0 -4.795065e+08
1356             Lithuania  0.000000e+00  4.550290e+05  1991.0 -4.550290e+05
1357                Poland  0.000000e+00  3.262795e+08  1991.0 -3.262795e+08
1358               Romania  0.000000e+00  6.368691e+08  2001.0 -6.368691e+08
1359       Slovak Republic  0.000000e+00  5.255336e+07  1994.0 -5.255336e+07
1360                 Chile  0.000000e+00  2.568149e+06  1977.0 -2.568149e+06
1361              Colombia  0.000000e+00  8.352648e+08  2002.0 -8.352648e+08
1362          Saudi Arabia  0.000000e+00  1.348961e+06  1998.0 -1.348961e+06
1363              Colombia  0.000000e+00  1.107145e+08  1983.0 -1.107145e+08
1364                 Chile  0.000000e+00  1.235230e+08  1986.0 -1.235230e+08
1365                Cyprus  0.000000e+00  5.864941e+06  1975.0 -5.864941e+06
1366              Thailand  0.000000e+00  3.336224e+08  2012.0 -3.336224e+08
1367              Colombia  0.000000e+00  1.009768e+09  2012.0 -1.009768e+09
1368                Brazil  0.000000e+00  1.398521e+09  1991.0 -1.398521e+09
1369              Colombia  0.000000e+00  3.102120e+08  1986.0 -3.102120e+08
1370          Saudi Arabia  0.000000e+00  9.206877e+06  2005.0 -9.206877e+06
1371               Hungary  0.000000e+00  1.413200e+04  2010.0 -1.413200e+04
1372          South Africa  0.000000e+00  5.162308e+08  1994.0 -5.162308e+08
1373                Brazil  0.000000e+00  6.886420e+08  1987.0 -6.886420e+08
1374          South Africa  0.000000e+00  6.699436e+08  1999.0 -6.699436e+08

[1375 rows x 5 columns]

In [121]:
d3=d2[['year','country','don_rec']]
d3.year=d3.year.astype(int)
d3

/usr/local/lib/python3.7/site-packages/pandas/core/generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

      year               country       don_rec
0     1973             Australia  4.628586e+07
1     1973               Belgium  3.925134e+07
2     1973                Canada  4.379284e+08
3     1973                France  2.471896e+08
4     1973               Germany  5.622324e+08
5     1973                 Italy  1.667191e+08
6     1973                 Japan  9.389659e+08
7     1973           Netherlands  1.627509e+08
8     1973                Norway  3.587485e+07
9     1973                Sweden  1.683693e+08
10    1973           Switzerland  1.406094e+07
11    1973        United Kingdom  4.425792e+08
12    1973         United States  1.553264e+09
13    1974             Australia  2.695088e+07
14    1974               Austria  2.412633e+07
15    1974               Belgium  4.358860e+07
16    1974                Canada  6.850216e+07
17    1974               Denmark  5.683929e+07
18    1974                France  3.673847e+08
19    1974               Germany  6.981681e+08
20    1974                 Japan  2.730202e+09
21    1974           Netherlands  3.234684e+08
22    1974                Norway  9.488752e+07
23    1974                Sweden  3.029933e+07
24    1974           Switzerland  6.454953e+07
25    1974        United Kingdom  1.405379e+09
26    1974         United States  8.710922e+08
27    1975             Australia  7.769178e+07
28    1975               Belgium  3.886331e+07
29    1975                Canada  9.302768e+07
...    ...                   ...           ...
1345  1993               Estonia -3.833784e+07
1346  1988          Saudi Arabia -4.243178e+07
1347  1989                Poland -2.608740e+09
1348  1995              Colombia -5.868666e+08
1349  1981                Taiwan -3.128870e+08
1350  1999               Ireland -1.748128e+08
1351  1993              Slovenia -2.609520e+06
1352  2001  United Arab Emirates -2.140111e+06
1353  1999              Slovenia -1.283154e+07
1354  1994                 Qatar -1.252342e+06
1355  2002                Poland -4.795065e+08
1356  1991             Lithuania -4.550290e+05
1357  1991                Poland -3.262795e+08
1358  2001               Romania -6.368691e+08
1359  1994       Slovak Republic -5.255336e+07
1360  1977                 Chile -2.568149e+06
1361  2002              Colombia -8.352648e+08
1362  1998          Saudi Arabia -1.348961e+06
1363  1983              Colombia -1.107145e+08
1364  1986                 Chile -1.235230e+08
1365  1975                Cyprus -5.864941e+06
1366  2012              Thailand -3.336224e+08
1367  2012              Colombia -1.009768e+09
1368  1991                Brazil -1.398521e+09
1369  1986              Colombia -3.102120e+08
1370  2005          Saudi Arabia -9.206877e+06
1371  2010               Hungary -1.413200e+04
1372  1994          South Africa -5.162308e+08
1373  1987                Brazil -6.886420e+08
1374  1999          South Africa -6.699436e+08

[1375 rows x 3 columns]

In [124]:
d3=d3.groupby(['year','country']).sum()
d3

                                don_rec
year country
1973 Australia             4.628586e+07
     Belgium               3.925134e+07
     Brazil               -3.120750e+08
     Canada                4.379284e+08
     Chile                -8.805608e+07
     Colombia             -5.499448e+08
     Cyprus               -9.613414e+06
     France                2.471896e+08
     Germany               5.622324e+08
     India                -2.285257e+09
     Italy                 1.667191e+08
     Japan                 9.389659e+08
     Korea                -1.363707e+09
     Kuwait               -3.254830e+05
     Netherlands           1.627509e+08
     Norway                3.587485e+07
     Saudi Arabia         -6.509700e+04
     Sweden                1.683693e+08
     Switzerland           1.406094e+07
     Thailand             -2.063634e+08
     United Arab Emirates -6.509700e+04
     United Kingdom        4.425792e+08
     United States         1.553264e+09
1974 Australia             2.695088e+07
     Austria               2.412633e+07
     Belgium               4.358860e+07
     Brazil               -3.066010e+08
     Canada                6.850216e+07
     Chile                -2.576892e+08
     Colombia             -2.035458e+08
...                                 ...
2013 Canada                5.478420e+07
     Chile                -3.022933e+08
     Colombia             -1.039328e+09
     Czech Republic        1.231520e+05
     Denmark               4.941770e+06
     Finland               1.393371e+07
     France                1.247092e+09
     Germany               1.582597e+09
     Greece                2.221310e+05
     Iceland               1.334180e+05
     India                -4.550646e+09
     Ireland               1.128518e+07
     Italy                 2.367975e+07
     Japan                 2.641200e+09
     Korea                 3.973233e+08
     Luxembourg            7.645306e+06
     Netherlands           1.105506e+07
     New Zealand           1.938330e+06
     Norway                2.950173e+08
     Poland                4.031840e+05
     Portugal              6.629414e+06
     Slovak Republic       4.114700e+04
     Slovenia              1.430800e+04
     South Africa         -1.350212e+09
     Spain                 5.583594e+07
     Sweden                8.227042e+07
     Switzerland           7.474490e+07
     Thailand             -2.599160e+08
     United Kingdom        4.904481e+08
     United States         1.059333e+09

[1375 rows x 1 columns]

In [128]:
d3=d3.reset_index()
d3=d3.set_index('year')
d3
#d3.to_csv('data3.csv')

In [131]:
np.min(d3.don_rec)

-9141850218.0

In [132]:
np.max(d3.don_rec)

11399278504.0

In [172]:
l=['#00429d', '#3e67ae', '#618fbf', '#85b7ce', '#b1dfdb', '#ffffe0', '#ffcab9', '#fd9291', '#e75d6f', '#c52a52', '#93003a']
l.reverse()
l

['#93003a',
 '#c52a52',
 '#e75d6f',
 '#fd9291',
 '#ffcab9',
 '#ffffe0',
 '#b1dfdb',
 '#85b7ce',
 '#618fbf',
 '#3e67ae',
 '#00429d']

In [149]:
d4=d3.groupby('country').sum()
order_wanted=d4.sort_values(by=['don_rec'],ascending=False)
order_wanted=order_wanted.rename(columns={'don_rec':'tp'})
order_wanted

                                tp
country
United States         1.160718e+11
Japan                 1.121012e+11
Germany               4.721838e+10
United Kingdom        2.273320e+10
France                1.521892e+10
Netherlands           8.939647e+09
Sweden                6.304289e+09
Norway                4.048812e+09
Canada                3.397685e+09
Switzerland           2.843761e+09
Denmark               2.786106e+09
Belgium               1.960099e+09
Spain                 1.452984e+09
Italy                 1.434830e+09
Finland               4.852579e+08
Austria               1.380153e+07
Monaco                9.413870e+05
Liechtenstein        -1.402238e+07
Iceland              -1.788754e+07
Portugal             -1.063417e+08
Australia            -1.260019e+08
New Zealand          -1.688384e+08
Slovenia             -2.252852e+08
United Arab Emirates -2.325695e+08
Estonia              -2.510706e+08
Latvia               -4.234950e+08
Luxembourg           -4.434858e+08
Greece               -4.867107e+08
Lithuania            -5.141433e+08
Qatar                -6.292647e+08
Ireland              -6.394943e+08
Slovak Republic      -8.208000e+08
Cyprus               -9.681493e+08
Czech Republic       -2.132983e+09
Hungary              -2.925003e+09
Saudi Arabia         -3.179338e+09
Taiwan               -3.315817e+09
Romania              -3.329060e+09
Kuwait               -6.402462e+09
Chile                -7.333565e+09
South Africa         -1.865556e+10
Korea                -2.399528e+10
Poland               -2.451682e+10
Colombia             -2.553035e+10
Brazil               -3.660612e+10
Thailand             -4.904129e+10
India                -1.339805e+11

In [154]:
d9=d3[d3.index==1973]
d9=d9.set_index('country')
d9

                           don_rec
country
Australia             4.628586e+07
Belgium               3.925134e+07
Brazil               -3.120750e+08
Canada                4.379284e+08
Chile                -8.805608e+07
Colombia             -5.499448e+08
Cyprus               -9.613414e+06
France                2.471896e+08
Germany               5.622324e+08
India                -2.285257e+09
Italy                 1.667191e+08
Japan                 9.389659e+08
Korea                -1.363707e+09
Kuwait               -3.254830e+05
Netherlands           1.627509e+08
Norway                3.587485e+07
Saudi Arabia         -6.509700e+04
Sweden                1.683693e+08
Switzerland           1.406094e+07
Thailand             -2.063634e+08
United Arab Emirates -6.509700e+04
United Kingdom        4.425792e+08
United States         1.553264e+09

In [173]:
d11=order_wanted.join(d9,how='left')
d11=d11.reset_index()
d11=d11.drop('tp',axis=1)
#d11=d11.fillna(0)
d11
#d11=d11.drop("tp")

                 country       don_rec
0          United States  1.553264e+09
1                  Japan  9.389659e+08
2                Germany  5.622324e+08
3         United Kingdom  4.425792e+08
4                 France  2.471896e+08
5            Netherlands  1.627509e+08
6                 Sweden  1.683693e+08
7                 Norway  3.587485e+07
8                 Canada  4.379284e+08
9            Switzerland  1.406094e+07
10               Denmark           NaN
11               Belgium  3.925134e+07
12                 Spain           NaN
13                 Italy  1.667191e+08
14               Finland           NaN
15               Austria           NaN
16                Monaco           NaN
17         Liechtenstein           NaN
18               Iceland           NaN
19              Portugal           NaN
20             Australia  4.628586e+07
21           New Zealand           NaN
22              Slovenia           NaN
23  United Arab Emirates -6.509700e+04
24               Estonia           NaN
25                Latvia           NaN
26            Luxembourg           NaN
27                Greece           NaN
28             Lithuania           NaN
29                 Qatar           NaN
30               Ireland           NaN
31       Slovak Republic           NaN
32                Cyprus -9.613414e+06
33        Czech Republic           NaN
34               Hungary           NaN
35          Saudi Arabia -6.509700e+04
36                Taiwan           NaN
37               Romania           NaN
38                Kuwait -3.254830e+05
39                 Chile -8.805608e+07
40          South Africa           NaN
41                 Korea -1.363707e+09
42                Poland           NaN
43              Colombia -5.499448e+08
44                Brazil -3.120750e+08
45              Thailand -2.063634e+08
46                 India -2.285257e+09

In [174]:
d11.to_csv("order_wanted.csv")