In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv("aiddata-countries-only - aiddata-countries-only.csv")
df.head()

,Unnamed: 0,aiddata_id,aiddata_2_id,year,donor,recipient,commitment_amount_usd_constant,coalesced_purpose_code,coalesced_purpose_name
0,1,2414478.0,NaN,1977,Saudi Arabia,India,348718518.0,23030,Power generation/renewable sources
1,2,2414509.0,NaN,1977,Saudi Arabia,Brazil,191647004.0,23040,Electrical transmission/ distribution
2,3,2414635.0,NaN,1983,Saudi Arabia,India,79371799.0,21030,Rail transport
3,4,2414665.0,NaN,1984,Saudi Arabia,Taiwan,212202942.0,21030,Rail transport
4,5,2414667.0,NaN,1984,Saudi Arabia,Korea,134511154.0,21040,Water transport

In [3]:
one=df.donor
two=df.recipient
len(list(set().union(one,two)))

47

In [4]:
df2=df[['donor','commitment_amount_usd_constant']]
df2=df2.rename(columns={"donor": "country", "commitment_amount_usd_constant": "Donated_amount"})
df2=df2.groupby('country').sum()
print(df2.shape)
df2.head()

(42, 1)

           Donated_amount
country
Australia    2.446616e+09
Austria      7.840690e+08
Belgium      2.144445e+09
Brazil       1.134440e+06
Canada       7.466338e+09

In [5]:
df3=df[['recipient','commitment_amount_usd_constant']]
df3=df3.rename(columns={"recipient": "country", "commitment_amount_usd_constant": "Recieved_amount"})
df3=df3.groupby('country').sum()
print(df3.shape)
df3.head()

(45, 1)

           Recieved_amount
country
Australia     2.572618e+09
Austria       7.702674e+08
Belgium       1.843462e+08
Brazil        3.660726e+10
Canada        4.068653e+09

In [6]:
df4=df2.join(df3,how='outer')
print(df4.shape)
df4=df4.fillna(0)
df4.head()

(47, 2)

           Donated_amount  Recieved_amount
country
Australia    2.446616e+09     2.572618e+09
Austria      7.840690e+08     7.702674e+08
Belgium      2.144445e+09     1.843462e+08
Brazil       1.134440e+06     3.660726e+10
Canada       7.466338e+09     4.068653e+09

In [7]:
# df4["Difference"]=df4["Donated_amount"]-df4["Recieved_amount"]
# df4=df4.sort_values(by=['Difference'],ascending=False)
# #df4=df4.drop(columns=['Difference'])
# df4=df4.reset_index()

In [8]:
#df4.to_csv("data.csv")

# Preprocessing 2

In [7]:
con=pd.read_csv("all.csv")
con=con.rename(columns={"name": "country", "alpha-3": "code"})
con=con[["country","code"]]
con=con.set_index("country")
con.head()

               code
country
Afghanistan     AFG
Åland Islands   ALA
Albania         ALB
Algeria         DZA
American Samoa  ASM

Uncomment to create data2.csv

In [8]:
df4["Difference"]=df4["Donated_amount"]-df4["Recieved_amount"]
df4=df4.drop(columns=['Donated_amount', 'Recieved_amount'])

df5=df4.join(con,how="inner")
print(df5.shape)
#df5.to_csv("data2.csv")
df5.head()

(47, 2)

             Difference code
country
Australia -1.260019e+08  AUS
Austria    1.380153e+07  AUT
Belgium    1.960099e+09  BEL
Brazil    -3.660612e+10  BRA
Canada     3.397685e+09  CAN

In [9]:
min(df5.Difference)

-133980469969.0

# Preprocessing 3

In [10]:
import pandas as pd
import numpy as np
df=pd.read_csv("aiddata-countries-only - aiddata-countries-only.csv")
df13=df[df.coalesced_purpose_name != 'Sectors not specified']
ls=df13['coalesced_purpose_name'].value_counts().head()
ls=pd.DataFrame(ls)
causes=list(ls.index)
causes

['Social/ welfare services',
 'Strengthening civil society',
 'Higher education',
 'Multisector aid',
 'Material relief assistance and services']

In [11]:
df12=df[df.coalesced_purpose_name.isin(causes)]
df6=df12[["recipient","coalesced_purpose_name","commitment_amount_usd_constant"]]
df6.head()

        recipient    coalesced_purpose_name  commitment_amount_usd_constant
25          India           Multisector aid                      83971160.0
32  United States  Social/ welfare services                       5501003.0
33  United States  Social/ welfare services                       1294936.0
34  United States          Higher education                       3657989.0
35  United States          Higher education                       1540281.0

In [12]:
# df7=pd.DataFrame(df6.groupby(['recipient', 'coalesced_purpose_name']).size())
# df7=df7.reset_index()
# print(df7.columns)
# df7.rename(columns={ df7.columns[2]: "COUNTER" }, inplace = True)
df6['COUNTER'] =1
group_data = df6.groupby(["recipient","coalesced_purpose_name"])['COUNTER'].sum() #sum function
df7=pd.DataFrame(group_data)
df7

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                                                              COUNTER
recipient            coalesced_purpose_name
Austria              Material relief assistance and services        2
Brazil               Higher education                             844
                     Material relief assistance and services      135
                     Multisector aid                              484
                     Social/ welfare services                    1066
                     Strengthening civil society                  932
Chile                Higher education                             522
                     Material relief assistance and services      163
                     Multisector aid                              234
                     Social/ welfare services                     437
                     Strengthening civil society                  233
Colombia             Higher education                             607
                     Material relief assistance and services      592
                     Multisector aid                              368
                     Social/ welfare services                     848
                     Strengthening civil society                 1551
Cyprus               Higher education                              24
                     Material relief assistance and services       22
                     Multisector aid                               10
                     Social/ welfare services                      42
                     Strengthening civil society                    3
Czech Republic       Higher education                              53
                     Material relief assistance and services       22
                     Multisector aid                               29
                     Social/ welfare services                     125
                     Strengthening civil society                   19
Estonia              Higher education                              28
                     Material relief assistance and services       22
                     Multisector aid                               16
                     Social/ welfare services                      75
...                                                               ...
Slovak Republic      Multisector aid                               25
                     Social/ welfare services                      88
                     Strengthening civil society                   29
Slovenia             Higher education                              87
                     Material relief assistance and services        9
                     Multisector aid                               10
                     Social/ welfare services                      62
                     Strengthening civil society                   10
South Africa         Higher education                             603
                     Material relief assistance and services       92
                     Multisector aid                              504
                     Social/ welfare services                    1100
                     Strengthening civil society                 1169
Switzerland          Material relief assistance and services        3
Taiwan               Higher education                              17
                     Material relief assistance and services       12
                     Multisector aid                                6
                     Social/ welfare services                      57
Thailand             Higher education                             595
                     Material relief assistance and services      438
                     Multisector aid                              256
                     Social/ welfare services                     405
                     Strengthening civil society                  288
United Arab Emirates Higher education                              13
                     Material relief assistance and services        1
                     Multisector aid                                4
                     Social/ welfare services                      50
                     Strengthening civil society                    2
United States        Higher education                               4
                     Social/ welfare services                       3

[115 rows x 1 columns]

In [13]:
newdf=df7.groupby(["recipient"]).sum().sort_values(by=['COUNTER'],ascending=False)
newdf=newdf.rename(columns={"COUNTER": "SUM"})
newdf.head()

               SUM
recipient
India         4333
Colombia      3966
South Africa  3468
Brazil        3461
Thailand      1982

In [14]:
lol=newdf.join(df7,how="inner")
lol=lol.sort_values(by=['SUM','recipient'],ascending=[False,True])
lol

                                                               SUM  COUNTER
recipient            coalesced_purpose_name
India                Higher education                         4333      776
                     Material relief assistance and services  4333      555
                     Multisector aid                          4333      810
                     Social/ welfare services                 4333     1025
                     Strengthening civil society              4333     1167
Colombia             Higher education                         3966      607
                     Material relief assistance and services  3966      592
                     Multisector aid                          3966      368
                     Social/ welfare services                 3966      848
                     Strengthening civil society              3966     1551
South Africa         Higher education                         3468      603
                     Material relief assistance and services  3468       92
                     Multisector aid                          3468      504
                     Social/ welfare services                 3468     1100
                     Strengthening civil society              3468     1169
Brazil               Higher education                         3461      844
                     Material relief assistance and services  3461      135
                     Multisector aid                          3461      484
                     Social/ welfare services                 3461     1066
                     Strengthening civil society              3461      932
Thailand             Higher education                         1982      595
                     Material relief assistance and services  1982      438
                     Multisector aid                          1982      256
                     Social/ welfare services                 1982      405
                     Strengthening civil society              1982      288
Chile                Higher education                         1589      522
                     Material relief assistance and services  1589      163
                     Multisector aid                          1589      234
                     Social/ welfare services                 1589      437
                     Strengthening civil society              1589      233
...                                                            ...      ...
Cyprus               Higher education                          101       24
                     Material relief assistance and services   101       22
                     Multisector aid                           101       10
                     Social/ welfare services                  101       42
                     Strengthening civil society               101        3
Taiwan               Higher education                           92       17
                     Material relief assistance and services    92       12
                     Multisector aid                            92        6
                     Social/ welfare services                   92       57
United Arab Emirates Higher education                           70       13
                     Material relief assistance and services    70        1
                     Multisector aid                            70        4
                     Social/ welfare services                   70       50
                     Strengthening civil society                70        2
Kuwait               Higher education                           54       11
                     Material relief assistance and services    54        4
                     Multisector aid                            54        4
                     Social/ welfare services                   54       35
Qatar                Higher education                           49       11
                     Material relief assistance and services    49        2
                     Multisector aid                            49        2
                     Social/ welfare services                   49       34
United States        Higher education                            7        4
                     Social/ welfare services                    7        3
Switzerland          Material relief assistance and services     3        3
Austria              Material relief assistance and services     2        2
Germany              Social/ welfare services                    2        2
Italy                Material relief assistance and services     2        2
Finland              Social/ welfare services                    1        1
Liechtenstein        Social/ welfare services                    1        1

[115 rows x 2 columns]

In [15]:
lol=lol.reset_index()
lol=lol.set_index('recipient')
lol=lol.drop(["SUM"],axis=1)
#lol.to_csv("data3.csv")
lol

                                       coalesced_purpose_name  COUNTER
recipient
India                                        Higher education      776
India                 Material relief assistance and services      555
India                                         Multisector aid      810
India                                Social/ welfare services     1025
India                             Strengthening civil society     1167
Colombia                                     Higher education      607
Colombia              Material relief assistance and services      592
Colombia                                      Multisector aid      368
Colombia                             Social/ welfare services      848
Colombia                          Strengthening civil society     1551
South Africa                                 Higher education      603
South Africa          Material relief assistance and services       92
South Africa                                  Multisector aid      504
South Africa                         Social/ welfare services     1100
South Africa                      Strengthening civil society     1169
Brazil                                       Higher education      844
Brazil                Material relief assistance and services      135
Brazil                                        Multisector aid      484
Brazil                               Social/ welfare services     1066
Brazil                            Strengthening civil society      932
Thailand                                     Higher education      595
Thailand              Material relief assistance and services      438
Thailand                                      Multisector aid      256
Thailand                             Social/ welfare services      405
Thailand                          Strengthening civil society      288
Chile                                        Higher education      522
Chile                 Material relief assistance and services      163
Chile                                         Multisector aid      234
Chile                                Social/ welfare services      437
Chile                             Strengthening civil society      233
...                                                       ...      ...
Cyprus                                       Higher education       24
Cyprus                Material relief assistance and services       22
Cyprus                                        Multisector aid       10
Cyprus                               Social/ welfare services       42
Cyprus                            Strengthening civil society        3
Taiwan                                       Higher education       17
Taiwan                Material relief assistance and services       12
Taiwan                                        Multisector aid        6
Taiwan                               Social/ welfare services       57
United Arab Emirates                         Higher education       13
United Arab Emirates  Material relief assistance and services        1
United Arab Emirates                          Multisector aid        4
United Arab Emirates                 Social/ welfare services       50
United Arab Emirates              Strengthening civil society        2
Kuwait                                       Higher education       11
Kuwait                Material relief assistance and services        4
Kuwait                                        Multisector aid        4
Kuwait                               Social/ welfare services       35
Qatar                                        Higher education       11
Qatar                 Material relief assistance and services        2
Qatar                                         Multisector aid        2
Qatar                                Social/ welfare services       34
United States                                Higher education        4
United States                        Social/ welfare services        3
Switzerland           Material relief assistance and services        3
Austria               Material relief assistance and services        2
Germany                              Social/ welfare services        2
Italy                 Material relief assistance and services        2
Finland                              Social/ welfare services        1
Liechtenstein                        Social/ welfare services        1

[115 rows x 2 columns]

In [16]:
list(lol.index.unique())

['India',
 'Colombia',
 'South Africa',
 'Brazil',
 'Thailand',
 'Chile',
 'Romania',
 'Poland',
 'Czech Republic',
 'Hungary',
 'Slovak Republic',
 'Korea',
 'Slovenia',
 'Lithuania',
 'Latvia',
 'Estonia',
 'Saudi Arabia',
 'Cyprus',
 'Taiwan',
 'United Arab Emirates',
 'Kuwait',
 'Qatar',
 'United States',
 'Switzerland',
 'Austria',
 'Germany',
 'Italy',
 'Finland',
 'Liechtenstein']

In [17]:
max(lol.COUNTER)

1551